pkgbase = mangohud-marukooh-bin
	pkgdesc = MangoHud fork with automatic frame generation counters and a compact HUD profile
	pkgver = 0.8.4.marukooh.1
	pkgrel = 1
	url = https://github.com/Marukooh/MangoHud
	arch = x86_64
	license = MIT
	license = BSD-3-Clause
	depends = dbus
	depends = hicolor-icon-theme
	depends = libcap
	depends = libglvnd
	depends = libx11
	depends = libxkbcommon
	depends = python
	depends = python-matplotlib
	depends = python-numpy
	depends = vulkan-icd-loader
	depends = wayland
	depends = lib32-dbus
	depends = lib32-gcc-libs
	depends = lib32-glew
	depends = lib32-libx11
	depends = lib32-libxkbcommon
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	provides = mangohud
	provides = lib32-mangohud
	conflicts = mangohud
	conflicts = lib32-mangohud
	backup = etc/MangoHud.conf
	source = MangoHud-v0.8.4-marukooh.1-linux-x86_64-i686.tar.gz::https://github.com/Marukooh/MangoHud/releases/download/v0.8.4-marukooh.1/MangoHud-v0.8.4-marukooh.1-linux-x86_64-i686.tar.gz
	sha256sums = 04de3ca07a971b48467c7c808a95a821649b0fae72936d9a8aa798abda355942

pkgname = mangohud-marukooh-bin
